<h1>Login:</h1>
<content>
    <div id="keys">
        <form action="/" method="post" id="1">
            <input type="text", name="username" placeholder="Username">
            <input type="password", name="password" placeholder="Password">
            <button type="submit" form="1" value="submit">Login</button>
        </form>
    </div>
</content>
